<div class=container>
    <%= link_to "Report by category", reports_report_by_category_path, class: "btn btn-primary me-2" %>
    <%= link_to "Report by date", reports_report_by_dates_path, class: "btn btn-warning" %>
</div>