<h1>Report by categories</h1>

<div id="operations">
  <table>
    <% @categories.each do |category| %>
      <tr>
        <th><%= category[0] %></th>
        <th><%= category[1] %></th>
      </tr>
    <% end %>
  </table>
</div>