<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Report by dates</h1>

<div class="d-flex justify-content-center">
  <canvas id="myChart" width="2000" height="300"></canvas>
  <script>
      new Chart(document.getElementById('myChart'), {
          type: 'line',
          data: {
              labels: <%= raw @operations_date %>,
              datasets: [{
                  label: 'Report by dates',
                  data: <%= @operations_amount %>,
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
              }]
          },
          options: {
              animations: {
                  tension: {
                      duration: 1000,
                      easing: 'linear',
                      from: 0.3,
                      to: 0.2,
                      loop: true
                  }
              },
          }
      });
  </script>
</div>

