<p style="color: green"><%= notice %></p>

<h1 class="text-center">Categories</h1>

<div id="categories">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <% @categories.each do |category| %>
            <%= render category %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<hr class="border border-3 opacity-100">

<div class="gap-6 text-center">
<%= link_to "New category", new_category_path, class:"btn btn-outline-dark" %>
</div>