<p style="color: green"><%= notice %></p>

<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to categories", categories_path, class:"btn btn-outline-primary"%>
</div>

<%= render @category %>
